<form [formGroup]="profile" novalidate>

  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput required formControlName="username" placeholder="5 characters minimum">
    <mat-error>Invalid value</mat-error>
  </mat-form-field>

  <br>

  <mat-form-field>
    <mat-label>Favorite color</mat-label>
    <mat-select required [(value)]="selectedValue">
      <mat-option *ngFor="let color of colors" [value]="color.name">
        {{color.name}}
      </mat-option>
    </mat-select>
    <mat-error>Invalid value</mat-error>
  </mat-form-field>

  <hr>

  Form values:
  <ul>
    <li>Username: {{profile.controls.username.value}}</li>
    <li>Color: {{selectedValue}}</li>
  </ul>

</form>